body{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
     "nav nav"
     "articles sb"
     "footer footer"
}

#articles{
    grid-area: articles;
}

#side-bar{
    grid-area: sidebar;
}

#footer{
    grid-area: footer;
}

#nav{
    grid-area: nav;
}

